:root{
    --container-BgColor: #444;
    --left-BgColor: rgba(136, 226, 247, 0.7);
    --left-button-hover: rgba(94, 226, 247, 0.7);
    --right-bgColor: rgba(255, 140, 219, 0.8);
    --right-button-hover: rgba(255, 140, 219, 0.7);
    --hover-width: 75%;
    --small-width: 25%;
    --animateSpeed: 1000ms;
}

html,
body{
    margin: 0;
    padding: 0;
    font-family: monospace;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 5rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-family: 'Playfair Display', serif;
}

.button{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 2.6rem;
    padding: 1.2rem 1.2rem 0rem 1rem;
    text-align: center;
    color: white;
    border: 3px solid #fff;
    border-radius: 4px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
    transition: all .2s;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-BgColor);
}

.screen{
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.left{
    left: 0;
    background: url("pexels-suliman-sallehi-1484771.jpg") center center no-repeat;
    background-size: cover;
}

.left::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-BgColor);
}

.left .button:hover{
    background-color: var(--right-button-hover);
    border-color: var(--right-button-hover);
    transition: var(--animateSpeed) all ease-in-out;
}

.right{
    right: 0;
    background: url("pexels-rfstudio-3819538.jpg") center center no-repeat;
    background-size: cover;
}

.right::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bgColor);
}

.right .button:hover{
    background-color: var(--left-button-hover);
    border-color: var(--left-button-hover);
    transition: var(--animateSpeed) all ease-in-out;
}

.hover-left .left{
    width: var(--hover-width);
}

.hover-left .right{
    width: var(--small-width);
}

.hover-left .right::before{
    z-index: 2;
}

.hover-right .right{
    width: var(--hover-width);
}

.hover-right .left{
    width: var(--small-width);
}

.hover-left .left::before{
    z-index: 2;
}